html, body {
	height:100%;
}

.wrap {
	min-height: 100%;
}

.container {
	overflow:auto;
  	padding-bottom:50px; 
}

.footer {
  	position: relative;
  	margin-top: -50px;
  	height: 50px;
  	clear:both;
  	padding-top:20px;
}

.d-inline {
	display:inline;
} 

.btn-default-top-spacing {
	margin-top:20px;
}

.doctor-image {
	width:300px;
	margin:0px 10px 0px 0px
}

.doctor-description {
	margin:0px;
	font-size:20px;
}

.doctor-facilities {
	clear:both;
	padding-top:10px;
}

.doctor-link {
	text-decoration: none !important;
	color: #333000 !important;
}